{% extends "layout.html" %}

{% block body %}
<h1 class="title">Alternate Sleep Cycles</h1>
<img width="400px" src="https://i.ytimg.com/vi/nGUHYnxlf_Y/maxresdefault.jpg" alt="tired man">
<h2>Does this picture look familiar to you?</h2>
<p> Alternate sleep cycles are the way to get more out of less sleep!</p>

<p> Humans spend roughly half their life asleep! Imagine what you could do if you had that time back. </p>
<p> Never can get enough sleep or just want to get more time out of your days? Here is the answer: </p>
<p> yea</p>
<ul>
    <li><a href="/dymaxion">Dymaxion Cycle </a></li>
    <li><a href="/uberman">Uberman Cycle</a></li>
</ul>
{% endblock %}

